<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * routes
 *
 * @copyright Copyright © 2020 Magetop. All rights reserved.
 * @author    info@magetop.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin"> <!-- standard or admin -->
        <route id="helloworld" frontName="helloworld">
            <module name="Truongcl_Tutorial" />
        </route>
    </router>
</config>
